@import '~react-md/src/scss/react-md';
$md-primary-color:#171b4a;
$md-secondary-color: #e8c547;
$md-tertiary-color: #000033;

.main-container,
.darker-background {
    background-color: #000033;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}
